<li>
  <%= employee_counter %>
  <%#= employee.modified_name%>
  <%= employee.name%>
  <%= employee.projects.each do |project| %>

       <%= render partial: "employees/project", locals: {project: project}, cached: true %>

<%end%>
</li>